@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Center the main container */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

/* Light mode styling */
.light {
  background-color: black;
  color: white;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 4px solid rgb(129, 8, 8);
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

/* Dark mode styling */
.dark {
  background-color: white;
  color: black;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(254, 0, 0);
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}

/* Button Styling */
button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: darkred;
}
